# Python
*.pyc
__pycache__/
venv/
pyvenv.cfg
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependency directories
env/
lib/
bin/
lib64
include/

# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.dll

# Miscellaneous
.DS_Store